#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// ---------------------------------------------------------------------------------
// |   `  |  1  |  2  |  3  |  4  |  5  |     |  6  |  7  |  8  |  9  |  0  | BKSP |
// |  TAB |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U  |  I  |  O  |  P  |  \   |
// | CAPS |  A  |  S  |  D  |  F  |  G  |     |  H  |  J  |  K  |  L  |  ;  |  ENT |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M  |  ,  |  .  |  /  | APOS |
// | CTRL | ALT | GUI | SPC | SPC | SPC |     | SPC | LOW |LARW |DARW |UARW | RARW |
                        bindings = <
   &kp N0  &kp N1    &kp N2    &kp N3     &kp N4     &kp N5               &kp N6     &kp N7  &kp N8     &kp N9    &kp N0    &kp BSPC
     &kp N0  &kp N1    &kp N2    &kp N3     &kp N4     &kp N5                &kp Y      &kp U   &kp I      &kp O     &kp P     &kp BSLH
     &kp N0  &kp N1    &kp N2    &kp N3     &kp N4     &kp N5                &kp H      &kp J   &kp K      &kp L     &kp SEMI  &kp RET
     &kp N0  &kp N1    &kp N2    &kp N3     &kp N4     &kp N5               &kp N      &kp M   &kp COMMA  &kp DOT   &kp FSLH  &kp APOS
     &kp N0  &kp N1    &kp N2    &kp N3     &kp N4     &kp N5              &kp SPACE  &mo 1   &kp LARW   &kp DARW  &kp UARW  &kp RARW
                        >;
                };
        };
};rrrrEbƒƒfffff`123er